html {
  box-sizing: border-box;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  padding: 0 0 .3em;
  background-color: #ffe500;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #2f2d13;
}

main {
  padding: 0 10px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: .1em;
  font-family: "Sigmar One", serif;
  display: inline;
}

a {
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  padding: .2em .5em;
  display: inline-block;
  margin: 0;
}

a:hover {
  background-color: #cc1465;
}

li {
  list-style-type: none;
  border-radius: 4px;
  text-align: center;
  font-size: .75rem;
  text-decoration: none;
  background-color: #b2a212;
  display: inline-block;
  margin: 0;
}

footer {
  background-color: #ffe500;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-size: 1.125rem;

}

nav {
  list-style-type: none;
  display: inline;
  text-align: center;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  text-align: left;
}

p {
  font-family: Georgia, serif;
  font-size: 1.005em;
  color: #2f2d13;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0 -7px 0 -7px;
}

.current {
  background-color: #b20953;
}
