html {
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  font-family: "Sigmar One";
  line-height: 1.5em;
}

header {
  font-family: Georgia, serif;
  padding: 10px;
  line-height: 1.5em;
  background-color: #ffe500;
  margin-top: 0;
  margin-bottom: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
  padding: .002em, .1em;
  font-family: "Sigmar One";
}

a {
  color: #fff;
  border-radius: 4px;
  line-height: 1.5em;
  text-decoration: none;
  list-style-type: none;
  padding: .2em .5em .3em;
}

a:hover {
  background-color: #2f2d13;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

li a {
  display: inline-block;
  list-style-type: none;
  border-radius: 4px;
  text-align: center;
  font-size: .75rem;
  text-decoration: none;
  background-color: #b2a212;
}

footer {
  background-color: #ffe500;
  text-decoration: none;
  margin: .3em;
  padding: 0 .75em;
  font-family: Georgia, serif;

}

.navbar {
  padding: 0 0 .8em;
  color: #ffe500;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  text-align: left;
  padding: 5px;
}

p {
  font-family: Georgia, serif;
  font-size: 1.005em;
  color: #2f2d13;
  text-align: left;
}

img {
  width: 100%;
  display: inline-block;
}
